@import './main.scss';

#experience {
    width: 100%;
    height: auto;
    text-align: right; 
    margin: 1.5rem 0;
    padding: 0 0 1.5rem 0;
}

.name {
    font-weight: 800;
    font-size: 1.2rem;
}

.date {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.role {

}

.description {
   
}

