@import "https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap";
$font-stack: 'Roboto', sans-serif;
$primary-color: #39393A;
$secondary-color: #659157;
$accent-color: #e4c254;
$background-color: #f5f5f5;

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: center;
  background-color: $background-color;
  padding-bottom: 10rem;
}

body a {
  color: $secondary-color;
}

body .date {
  font-style: italic;
}

#accent {
  color: $secondary-color;
}

#container {
  position: absolute;
  width: 675px;
  margin-top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

/****** TEXT STYLES ******/

b {


}

i {


}

u {

}

/****** HEADERS ******/

#header {
  position: relative;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%);
  font-size: 3.5rem;
  font-family: 'Bodoni Moda', serif;
  text-transform: lowercase;
}

h1 {
  font: 3.5em 'Bodoni Moda';
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  color: $secondary-color;
  margin-top: 2rem;
  text-transform: lowercase;
}

h3 {


}

h4 {



}

/****** BUTTONS ******/

#button1 {
  position: relative;
  padding: 2%;
  margin: 0 3%;
  width: 100px;
  height: auto;
  color: $background-color;
  font: 100% $font-stack;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $secondary-color;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;

  span {
    z-index: 999;
  }

  &:hover {
    opacity: 0.8;
  }

}

#button2 {
  padding: 2%;
  margin: 5%;
  width: 100px;
  height: auto;
  color: $background-color;
  font: 100% $font-stack;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $accent-color;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;

  span {
    z-index: 999;
  }

  &:hover {
    opacity: 0.8;
  }

}