@import "https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap";

#title {
    position: absolute;
    top: 40%;
    transform: translate-y(-50%);
    font-size: 3rem;
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
}